body {
  background: #ffffff;
  color: #000000;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #000000;
}

.bg-steel {
  background-color: #853562;
}

.site-header .navbar-nav .nav-link {
  color: #ffffff;
}

.site-header, .navbar-nav, .nav-link, .button:hover {
  opacity: 0.8;
}

.content-section, .navbar, #myChart{
  border-radius: 3px;
  margin-top:0.5em;
  border: 1px solid #e3b9d1;
}

.content-section{
  background-color: #f1dce8;
  padding: 10px 10px;

}

.form-box {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap:0.3em;
}

.btn-group {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-gap:0.3em;
}


.btn-group .button {
  background-color: #853562;
  border: 1px solid #e3b9d1;
  color: white;
  border-radius: 3px;
  font-weight: 100;
  font-size: 0.8em;
  text-align:center;
}

.btn-group button:not(:last-child) {
  border-right: none;
}

.btn-group button:hover {
  opacity:0.8;
}

<<<<<<< HEAD
#myChart{
     width: 800;
     height: 200;

}

a p{
    font-weight: 400;
    font-size: 1em;
}


@media screen and (max-width: 700px) {
=======
@media screen and (max-width: 1000px) {
>>>>>>> 2d3d9d5afeed28ebac86c645e6bac6c49b7829ae
    .btn-group {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-gap:0.1em;
    }
    .btn-group .button {
      background-color: #853562;
      border: 1px solid #e3b9d1;
      color: white;
      border-radius: 3px;
      font-weight: 400;
      font-size: 0.3em;
    }
}
