{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <h4>What is the basal body temperature monitoring method?</h4>
    <p>
        Basal body temperature monitoring is a contraceptive method which relies
        on the woman monitoring her basal body temperature on a daily basis.
        Basal body temperature is the body’s temperature at the time of waking up,
        before any physical activity has been performed. The woman must also record
        her daily temperature measurements on a chart, so that she can easily compare
        changes in the temperature from day to day.
    </p>
    <p>
        A woman’s body temperature changes throughout the menstrual cycle and changes
        in her body temperature coincide with hormonal changes which indicate fertile
        and non-fertile stages of the cycle. By monitoring her temperature every day,
        a woman can determine the periods of her menstrual cycle when she is and is
        not fertile.
    </p>
    <p>
        In order for basal body temperature monitoring to work effectively as a
        contraceptive method, the woman must abstain from sex or use another
        contraceptive method (usually a barrier method) while she is in the
        fertile period of her cycle.
    </p>

</div>
{% endblock content %}
